<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
      <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">街道图像分割处理平台</h3>
      </div>
      <hr/>
      <div>

      <form action="predict" method="post" enctype="multipart/form-data">
          <label for="file">请点击按钮选择要上传的文件</label>
          <input type="file" name="file"/><br/>
          <input type="submit" value="提交" class="button-new" style="margin-top:15px;"/>
      </form>
      </div>
    </div>
  </body>
</html>